.flexContainer {
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 2rem;
    position: absolute;
}

.flexChild {
    flex: 1;
    /* border-color: black; */
}  

.flexChild:last-child {
    float: left;
    margin-left: 50px;

} 

.tableAlign{
    margin-bottom: 20px;
    margin-block-end: 4rem;
    max-width: 1300px;
    overflow: auto;
 
}