.flexContainer {
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 0.5rem;
    position: absolute;
}

.flexChild {
    flex: 1;
    /* border-color: black; */
}  

.flexChild:last-child {
    float: left;
    margin-left: 50px;

} 

.tableAlign{
    margin-bottom: 20px;
    margin-block-end: 2rem;
    max-width: 1300px;
    overflow: auto;
 
}
/* Table.module.css */

/* Table.module.css */

/* .row:nth-child(-n+3) {
    background-color: rgb(148, 176, 189);
  }
  
  .row:nth-child(n+4):nth-child(-n+6) {
    background-color: rgb(143, 177, 143);
  }
  
  .row:nth-child(n+7):nth-child(-n+9) {
    background-color: rgb(148, 176, 189);
  } */
  